#http://www.cs.cmu.edu/~112/notes/notes-recursion-part1.html
def nthPrime(n, guess=0, found=0):
    if (isPrime(guess)): found += 1
    if (found == n+1): return guess
    else: return nthPrime(n, guess+1, found)

